:root {
  --pd-gp-header: 0.9em;
  --bg-white: white;
  --primary-color: #5c0c70;
  --btn-color: #22d6d6;
}

body {
  font-family: 'poppins', sans-serif;
}

.maxWidth{
  max-width: 74em;
  margin: auto;
}

.container {
  max-width: 70.25em;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  background: var(--bg-white);
  padding: var(--pd-gp-header);
}

ul {
  list-style: none;
  text-align: center;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
}

li a {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: var(--pd-gp-header);
}

li a:hover {
  background: color-mix(in srgb, var(--primary-color), white 10%);
}

.heroBanner {
  text-align: center;
  padding: 1em;
  margin: 0;
  position: relative;
}

.heroBanner-title,
.heroBanner-subtitle,
.heroBanner-btn {
  margin: 1em;
}

.heroBanner-title {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--primary-color);
}

.heroBanner-subtitle {
  font-size: 1em;
  font-weight: 500;
  color: color-mix(in srgb, var(--primary-color), white 40%);
}

.heroBanner-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: var(--btn-color);
  padding: 1em;
  border-radius: 0.5em;
  border: none;
}

.heroBanner-btn:hover {
  background: color-mix(in srgb, var(--btn-color), black 15%);
}

.heroBanner-iconPlay {
  display: none;
}

.middleContent {
  text-align: center;
  background: white;
  padding: 2em;
}

.middleContent a {
  color: inherit;
  text-decoration: none;
}

.middleContent-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.25em;
}

.middleContent span[class^='icon-'] {
  color: var(--primary-color);
  font-size: 3.5em;
}

.middleContent p {
  line-height: 1.5em;
}

/*---Telas médias---  md*/
@media screen and (min-width: 48.75em) {
  header,
  ul {
    flex-direction: row;
  }

  header {
    justify-content: space-between;
    align-items: center;
  }

  ul {
    background: none;
    gap: 1em;
  }

  li a {
    color: var(--bg-primary-color);
  }

  li a:hover {
    background: #eeeeee;
  }

  .heroBanner {
    background: var(--primary-color);
  }

  .heroBanner-title,
  .heroBanner-subtitle {
    color: #fff;
  }

  .heroBanner-iconPlay {
    width: 5em;
    display: inline-block;
    text-align: center;
  }
}

/*---Telas grandes lg---*/
@media screen and (min-width: 56.25em) {
  .heroBanner {
    background-image: url(../images/bg_topo_1198x670.jpg);
    aspect-ratio: 1198 / 670;
  }

  .max-width {
    width: 70%;
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*Telas extra grandes xl */
@media screen and (min-width: 74em) {
  .heroBanner {
    background-image: url(../images/bg_topo_1600x1374.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    max-height: 80vh;
    width: 100%;
  }
}

/* 
min-width: 0      -> col-sm
min-width: 48.75em      -> col-md
min-width: 56.25em      -> col-lg
min-width: 74em      -> col-xl 
*/

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.col {
  flex: 1 0 auto;
  width: 100%;
  /* Ele vai crescer se tiver espaço. Não vai diminuir. Flex-basis vai depender do width do elemento */
}

.col-sm-12 {
  width: 100%;
}

@media screen and (min-width: 48.75em) {
  .col-md-6 {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 74em) {
  .col-xl-3 {
    width: calc(25% - 1rem);
  }

  .col-xl-6 {
    width: calc(50% - 1rem);
  }
}

.mainContent {
  padding: 2em;
}

.mainContent p {
  line-height: 1.2em;
}

.mainContent img {
  width: 100%;
}

.mainContent-title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: normal;
  letter-spacing: 0.2em;
  font-size: 1.25em;
}

.mainContent .row {
  row-gap: 3em;
}

.mainContent {
  /* container-name: main; */
  container: mainContent / inline-size;
}

@container mainContent (min-width: 42.5em) {
  .mainContent-article {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .mainContent-img {
    width: 60%;
  }
}

.footer{
  background: #25303e;
  color: #83969f;
  text-align: center;
  padding: 2em;
}